body {   
  background-color: #FE390F;
}

.keyboard-container {
position: fixed; 
bottom: 0; 
width: 100%; 
z-index: 9999;
}

.keyboard {
bottom: 0;
left: 0;
right: 0;
width: 100%;
z-index: 9999 !important;
}

.simple-keyboard.darkTheme {
background-color: rgba(0, 0, 0, 0.8);
border-radius: 0;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
}

.simple-keyboard.darkTheme .hg-button {
height: 50px;
display: flex;
justify-content: center;
align-items: center;
background: rgba(0, 0, 0, 0.5);
color: white;
}

.simple-keyboard.darkTheme .hg-button:active {
background: white;
color: black;
}

#root .simple-keyboard.darkTheme + .simple-keyboard-preview {
background: white;
}

.input-field {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border: 0.15em solid black;
font-size: 2em;
min-width: 30vw;
height: 5vw;
font-family: GirottMunch;
}

.artwork-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  box-sizing: border-box;
}

.artwork-image {
  border: rgba(0, 0, 0, 1) 10px inset;
  width: 60%;
  max-width: 400px;
  height: auto;
  background-color: white;
  text-align: center;
  margin-top: 50px;
}

.title {
  font-size: 8vw;
  font-weight: bold;
  margin: 20px 0;
  font-family: GirottMunch;
  color: #000000;
}

.erase-all-button {
  margin-left: 76%;
  padding: 0;
  background: none;
  border: none;
  text-decoration: none;
  font-size: 1.5em;
  color: #000000;
}

.save-button, .quit-button {
  font-weight: bold;
  border: none;
  background-color: #fe390f;
  color: #000000;
  cursor: pointer;
  font-family: GirottMunch;
  margin-top: 20px;
  max-width: 600px;
  display: inline-block;
}

@media screen and (max-width: 480px) {
  .ArtworkImage {
    width: 50%;
    max-width: none;
  }

  .Title {
    font-size: 10vw;
  }

  .save-button,
  .quit-button {
    font-size: 10vw;
    padding: 10px 15px;
    max-width: 200px;
  }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  .artwork-image {
    width: 50%;
    max-width: none;
  }

  .title {
    font-size: 9vw;
  }

  .save-button,
  .quit-button {
    font-size: 5vw;
    padding: 10px 15px;
    max-width: 250px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .artwork-image {
    width: 50%;
    max-width: none;
  }

  .title {
    font-size: 7vw;
  }

  .save-button,
  .quit-button {
    font-size: 3.5vw;
    padding: 10px 15px;
    max-width: 300px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .artwork-image {
    width: 50%;
    max-width: none;
  }

  .title {
    font-size: 6vw;
  }

  .save-button,
  .quit-button {
    font-size: 3vw;
    padding: 10px 15px;
    max-width: 350px;
  }
}

@media screen and (min-width: 1440px) and (max-width: 1599px) {
  .artwork-image {
    width: 50%;
    max-width: none;
  }

  .title {
    font-size: 5.5vw;
  }

  .save-button,
  .quit-button {
    font-size: 2.8vw;
    padding: 10px 15px;
    max-width: 400px;
  }
}

@media screen and (min-width: 1600px) {
  .artwork-image {
    width: 50%;
    max-width: none;
  }

  .title {
    font-size: 5vw;
  }

  .save-button,
  .quit-button {
    font-size: 2.5vw;
    padding: 10px 15px;
    max-width: 450px;
  }
}