@font-face {
  font-family: GirottMunch;
  src: url('../fonts/GirottMunch-Bold.ttf');
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #fe390f;
}
.main-text {
  padding-right: 20%;
  padding-top: 10%;
  font-size: 60px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px;
  width: 50vh;
  padding-bottom: 20%;
  font-family: GirottMunch;
}

.input-container {
  margin-bottom: 20px;
}

input {
  width: 400px; 
  padding: 20px; 
  font-size: 24px; 
  text-align: center;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.start-button {
  padding: 10px 10px; 
  margin-bottom: 100px;
  font-size: 100px; 
  font-weight: bold;
  border: none;
  background: none;
  text-decoration: none;
  border-radius: 5px;
  color: #000000;
  cursor: pointer;
  font-family: GirottMunch;
}

/*need border on canvas*/
.canvas-draw{
  width: 1000px;
  height: 1000px;
  border: #194641;
  border-radius: 5px;
}
