@font-face {
  font-family: GirottMunch;
  src: url('./fonts/GirottMunch-Bold.ttf');
}
.Drawing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background-color: red;
  }
  
  .Drawing .canvas-draw {
    margin-bottom: 20px;
  }
  
  .Drawing .input-container {
    margin-bottom: 20px;
  }
  
  .Drawing .save-button {
    font-family: GirottMunch;
    padding: 10px 20px;
    background-color: red;
    color: black;
    border: none;
    border-radius: 4px;
    font-size: 40px;
    margin-bottom: -50px;
    cursor: pointer;
    margin-left: 600px;
  }

  .Drawing .erase-button{
    font-family: GirottMunch;
    padding: 15px 20px;
    background-color: red;
    color: black;
    border: none;
    border-radius: 4px;
    font-size: 50px;
    margin-bottom: -50px;
    cursor: pointer;
    margin-left: 800;

  }
  
  .Drawing .save-button:hover {
    background-color: #45a049;
  }
  
  /* Additional styles as per your requirements */
  .Drawing label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .Drawing input[type="range"] {
    margin-left: 10px;
    width: 150px;
  }
  
  .Drawing input[type="text"] {
    padding: 5px;
    font-size: 14px;
    width: 200px;
  }
  
  .Drawing .input-container input:focus {
    outline: none;
  }
  
  /* Disable scrolling on the body */
  body {
    overflow: hidden;
  }
  
  .Drawing .color-picker {
    display: flex;
    align-items: center;
    margin-right: 850px;
  }
  
  .Drawing .color-picker .color-preview {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border: 1px solid #000;
    background-color: var(--brush-color);
  }
  
  .Drawing .color-picker input[type="color"] {
    display: none;
    
  }

  .Drawing .delete-icon{

    position: fixed;
    left: 15px;
    top: 15px;
   
  }
  .Drawing .palette-icon{

    font-size: 50px;
    size: 300px;
    
  }
  