body {   
    background-color: #FE390F;
    
}
  
.ArtworkBody {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  height: 100vh; /* Assuming you want it to fill the viewport height */
}

.ArtworkImage {
  border: white 10px solid;
  width: 17vw;
  height: auto;
  background-color: white;
  text-align: center;
  margin: 20px auto; /* Remove margin from .canvas-draw and add it here */
}
  
  .Title {
    font-size: 90px;
    font-weight: bold;
    margin: 20px auto;
    font-family: GirottMunch;
    color: #000000;
  }
  
  .canvas-draw {
    margin: 20px auto;
  }
  
  .save-button {
    font-size: 55px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: #fe390f;
    color: #000000;
    cursor: pointer;
    font-family: GirottMunch;
  }
  
  .quit-button {
    bottom: 100px;
    right: 300px;
    font-size: 55px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: #fe390f;
    color: #000000;
    cursor: pointer;
    font-family: GirottMunch;
  }
  

  .erase-all-button {
    position: fixed;
    margin-left: 72%;
    margin-top: 5%;
    font-size: 2.5rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: #fe390f;
    color: #000000;
    cursor: pointer;
  }